
<div *ngIf="5>3">
<main class="ActiveLocationDiv" id="newdiv"  >

    <div class="cardsDiv" >

      <div style="height: 40px; min-width: 400px; background-color: aqua; margin: 10px; ">1</div>
      <div style="height: 40px; min-width: 400px; background-color: aqua; margin: 10px; ">1</div>
      <div style="height: 40px; min-width: 400px; background-color: aqua; margin: 10px; ">1</div>
      <div style="height: 40px; min-width: 400px; background-color: aqua; margin: 10px; ">1</div>
      <div style="height: 40px; min-width: 400px; background-color: aqua; margin: 10px; ">1</div>

    </div>
</main>

</div>